In [141]:
import os
import pandas as pd
import numpy as np

In [142]:
data_df = pd.read_csv("forest_surfaces_romania.csv")

In [143]:
data_df.head()

,Categorii de terenuri si specii de paduri,Macroregiuni regiuni de dezvoltare si judete,Ani,UM: Mii hectare,Valoare
0,Total,TOTAL,Anul 1990,Mii hectare,6371.0
1,Total,TOTAL,Anul 1991,Mii hectare,6367.6
2,Total,TOTAL,Anul 1992,Mii hectare,6368.2
3,Total,TOTAL,Anul 1993,Mii hectare,6366.9
4,Total,TOTAL,Anul 1994,Mii hectare,6369.0

In [144]:
data_df.shape

(8111, 5)

In [145]:
data_df.columns = ["Category", "Region", "Year", "Unit", "Value"]

In [146]:
data_df.head()

  Category  Region        Year          Unit   Value
0    Total   TOTAL   Anul 1990   Mii hectare  6371.0
1    Total   TOTAL   Anul 1991   Mii hectare  6367.6
2    Total   TOTAL   Anul 1992   Mii hectare  6368.2
3    Total   TOTAL   Anul 1993   Mii hectare  6366.9
4    Total   TOTAL   Anul 1994   Mii hectare  6369.0

In [147]:
data_df.Category.unique()

array(['Total', 'Suprafata padurilor', 'Rasinoase', 'Foioase',
       'Alte terenuri'], dtype=object)

In [148]:
data_df.Region.unique()

array([' TOTAL', ' MACROREGIUNEA UNU', ' Regiunea NORD-VEST', ' Bihor',
       ' Bistrita-Nasaud', ' Cluj', ' Maramures', ' Satu Mare', ' Salaj',
       ' Regiunea CENTRU', ' Alba', ' Brasov', ' Covasna', ' Harghita',
       ' Mures', ' Sibiu', ' MACROREGIUNEA DOI', ' Regiunea NORD-EST',
       ' Bacau', ' Botosani', ' Iasi', ' Neamt', ' Suceava', ' Vaslui',
       ' Regiunea SUD-EST', ' Braila', ' Buzau', ' Constanta', ' Galati',
       ' Tulcea', ' Vrancea', ' MACROREGIUNEA TREI',
       ' Regiunea SUD-MUNTENIA', ' Arges', ' Calarasi', ' Dambovita',
       ' Giurgiu', ' Ialomita', ' Prahova', ' Teleorman',
       ' Regiunea BUCURESTI - ILFOV', ' Ilfov', ' Municipiul Bucuresti',
       ' MACROREGIUNEA PATRU', ' Regiunea SUD-VEST OLTENIA', ' Dolj',
       ' Gorj', ' Mehedinti', ' Olt', ' Valcea', ' Regiunea VEST',
       ' Arad', ' Caras-Severin', ' Hunedoara', ' Timis'], dtype=object)

In [149]:
data_df.Year.unique()

array([' Anul 1990', ' Anul 1991', ' Anul 1992', ' Anul 1993',
       ' Anul 1994', ' Anul 1995', ' Anul 1996', ' Anul 1997',
       ' Anul 1998', ' Anul 1999', ' Anul 2000', ' Anul 2001',
       ' Anul 2002', ' Anul 2003', ' Anul 2004', ' Anul 2005',
       ' Anul 2006', ' Anul 2007', ' Anul 2008', ' Anul 2009',
       ' Anul 2010', ' Anul 2011', ' Anul 2012', ' Anul 2013',
       ' Anul 2014', ' Anul 2015', ' Anul 2016', ' Anul 2017',
       ' Anul 2018', ' Anul 2019'], dtype=object)

In [150]:
data_df["Year"] = data_df["Year"].apply(lambda x: x.replace("Anul ", ""))
data_df["Year"] = data_df["Year"].apply(lambda x: x.replace(" ", ""))
data_df["Year"] = data_df["Year"].apply(lambda x: int(x))

In [151]:
data_df.Year.unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], dtype=int64)

In [152]:
data_df["Unit"] = data_df["Unit"].apply(lambda x: x.replace("Mii hectare", "Thousands hectares"))

In [153]:
data_df.Unit.unique()

array([' Thousands hectares'], dtype=object)

In [154]:
region_list = [
    [' MACROREGIUNEA UNU', 'Macroregion One'],
    [' Regiunea NORD-VEST', 'Region North-West'],
    [' Regiunea CENTRU', 'Region Center'],
    [' Regiunea NORD-EST', 'Region North-East'],
    [' Regiunea SUD-EST', 'Region South-East'],
    [' MACROREGIUNEA TREI', 'Macroregion Three'],
    [' Regiunea SUD-MUNTENIA', 'Region South-Muntenia'],
    [' Regiunea BUCURESTI - ILFOV', 'Region Bucuresti-Ilfov'],
    [' Municipiul Bucuresti', 'Bucuresti'],
    [' MACROREGIUNEA PATRU', 'Macroregion Four'],
    [' Regiunea SUD-VEST OLTENIA', 'Region South-West Oltenia'],
    [' Regiunea VEST', 'Region West']
]

In [155]:
data_df["Region"] = data_df["Region"].apply(lambda x: x.lstrip(" "))
data_df["Region"] = data_df["Region"].apply(lambda x: x.replace("Municipiul Bucuresti", "Bucuresti"))

In [156]:
data_df.Region.unique()

array(['TOTAL', 'MACROREGIUNEA UNU', 'Regiunea NORD-VEST', 'Bihor',
       'Bistrita-Nasaud', 'Cluj', 'Maramures', 'Satu Mare', 'Salaj',
       'Regiunea CENTRU', 'Alba', 'Brasov', 'Covasna', 'Harghita',
       'Mures', 'Sibiu', 'MACROREGIUNEA DOI', 'Regiunea NORD-EST',
       'Bacau', 'Botosani', 'Iasi', 'Neamt', 'Suceava', 'Vaslui',
       'Regiunea SUD-EST', 'Braila', 'Buzau', 'Constanta', 'Galati',
       'Tulcea', 'Vrancea', 'MACROREGIUNEA TREI', 'Regiunea SUD-MUNTENIA',
       'Arges', 'Calarasi', 'Dambovita', 'Giurgiu', 'Ialomita', 'Prahova',
       'Teleorman', 'Regiunea BUCURESTI - ILFOV', 'Ilfov', 'Bucuresti',
       'MACROREGIUNEA PATRU', 'Regiunea SUD-VEST OLTENIA', 'Dolj', 'Gorj',
       'Mehedinti', 'Olt', 'Valcea', 'Regiunea VEST', 'Arad',
       'Caras-Severin', 'Hunedoara', 'Timis'], dtype=object)

In [157]:
data_df["Category"] = data_df["Category"].apply(lambda x: x.replace("Suprafata padurilor", "Wood"))
data_df["Category"] = data_df["Category"].apply(lambda x: x.replace("Rasinoase", "Softwood"))
data_df["Category"] = data_df["Category"].apply(lambda x: x.replace("Foioase", "Hardwood"))
data_df["Category"] = data_df["Category"].apply(lambda x: x.replace("Alte terenuri", "Others"))

In [158]:
data_df.Category.unique()

array(['Total', 'Wood', 'Softwood', 'Hardwood', 'Others'], dtype=object)

In [159]:
data_df.head(10)

  Category Region  Year                 Unit   Value
0    Total  TOTAL  1990   Thousands hectares  6371.0
1    Total  TOTAL  1991   Thousands hectares  6367.6
2    Total  TOTAL  1992   Thousands hectares  6368.2
3    Total  TOTAL  1993   Thousands hectares  6366.9
4    Total  TOTAL  1994   Thousands hectares  6369.0
5    Total  TOTAL  1995   Thousands hectares  6368.8
6    Total  TOTAL  1996   Thousands hectares  6365.7
7    Total  TOTAL  1997   Thousands hectares  6367.3
8    Total  TOTAL  1998   Thousands hectares  6367.1
9    Total  TOTAL  1999   Thousands hectares  6367.3

In [160]:
data_df.tail(10)

     Category Region  Year                 Unit  Value
8101   Others  Timis  2010   Thousands hectares    2.1
8102   Others  Timis  2011   Thousands hectares    2.0
8103   Others  Timis  2012   Thousands hectares    1.9
8104   Others  Timis  2013   Thousands hectares    2.0
8105   Others  Timis  2014   Thousands hectares    1.9
8106   Others  Timis  2015   Thousands hectares    1.9
8107   Others  Timis  2016   Thousands hectares    1.9
8108   Others  Timis  2017   Thousands hectares    1.9
8109   Others  Timis  2018   Thousands hectares    1.9
8110   Others  Timis  2019   Thousands hectares    2.0

In [161]:
data_df.to_csv("forest_surfaces_romania_en_1990_2019.csv", index=False)