In [1]:
import pandas as pd
import numpy as np

In [20]:
data_df = pd.read_csv("iris.csv")

In [8]:
#!pip install rpy2

In [102]:
data = np.array(data_df)
columns = np.array(data_df.columns)

In [103]:
with open('iris.npy', 'wb') as f:
    np.save(f, [columns, data])
f.close()

In [104]:
with open('iris.npz', 'wb') as f:
    np.savez(f, [columns, data])
f.close()

In [105]:
f = np.load('iris.npy', allow_pickle=True)
a = f

In [106]:
len(a)

2

In [111]:
data = np.load('iris.npz', allow_pickle=True)
sorted(data.files), len(data['arr_0'])

(['arr_0'], 2)

In [113]:
b = data['arr_0']
data_ = b[1]; columns_ = b[0]

In [115]:
new_data_df = pd.DataFrame(data_)
new_data_df.columns = columns_
new_data_df.head()

  id sepal_length sepal_width petal_length petal_width species
0  1          5.1         3.5          1.4         0.2  setosa
1  2          4.9           3          1.4         0.2  setosa
2  3          4.7         3.2          1.3         0.2  setosa
3  4          4.6         3.1          1.5         0.2  setosa
4  5            5         3.6          1.4         0.2  setosa